.powitanie {
  min-height:400px; padding-top: 10px; background: none;
  text-align: center;
  margin-top: 60px;
list-style: none;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
}
.powitanie ul {
  list-style:decimal;
  padding-left: 90px;
  margin: 0;

}
.male{
  height: 35px !important;
  font-family: 'Fjalla One', sans-serif;
    font-size: 15px;

}

.small{
 max-height: 10% !important;
}

.smaller span {
  font-size: 15px;
  text-align: justify;
}

.he {
  padding-top: 5px;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;

}
.przycisk {
  padding: 0;

}
.przycisk h4 {
  text-transform: none;
}
.matrix {
    position: relative;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}
.matrix td {
    padding: 5px;
    text-align: center;
}


.dash[ng-cloak] {
  display:none;
}
.dash {
    background-color: red;
    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
}
div[flex="30"] {
  background-color: #DFDFDF;

}

section[flex="40"] {
  background-color: #fff;
    overflow-y: scroll;
}
section[flex="70"] {
  background-color: #fff;
    overflow-y: scroll;
}
section[flex="20"] {
 background-color: #fff;
    overflow-y: scroll;
}
section[flex=""] {
 background-color: #fff;
    overflow-y: scroll;
}

.md-no-sticky {
    font-family: 'Fjalla One', sans-serif;
    color: #000;
    font-size: 25px;
}
/* Important to set height for column layout */
.boxWithHeight {
    box-sizing: border-box;
    height: 100%;
    overflow: none;
    background: #DFDFDF;
}
h5 {
    font-size: 25px;
    padding: 5px;
    font-family: 'Fjalla One', sans-serif;
}

#grid {
  //  width: 400px;
    /*height: 140px;*/
    margin: 0;

    // &:after {
    //   content: ' ';
    //   display: block;
    // }

    // .cell {
    //     border: 1px solid red;
    //     float: left;
    //     height: 50px;
    //     width: 50px;
    //     margin: 3px;
    //     padding: 0;
    //     text-align: center;
    //
    // }

    .myrow {
      $cellSize: 30px;
      .cell {
        display: inline-block;
        width: $cellSize;
        height: $cellSize;
        border: 1px blue solid;
        text-align: center;
        line-height: $cellSize;
      }
    }
}




.md-dialog{

  width:900px; height: 400px;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto

}

.a, section {
  border: 5px solid #fff;
  margin: 5px;
}

section {
  background-color: #fff;
}

h3 {
    color: #000;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
}

.displayList ul {

    list-style-type: none;
    font-family: 'Fjalla One', sans-serif;
    font-weight: lighter;
}
.moj {
    background: #B36C6C !important;
    height: 64px;
}
.napis {
    font-family: 'Fjalla One', sans-serif;
    font-weight: lighter;
}
.napisDia {
    font-family: 'Fjalla One', sans-serif;
    padding: 0;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: center;
    padding-top: 0;



}


.napisDia span{
  color: grey;
  text-align: center;

}

.displaySearcher{
    text-align: center;
}

h4{
    text-align: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: lighter;
}

input[type=search] {
  padding:10px;
  padding-left:60px;
  width:240px;
  border:1px solid #3F3F3F;
  border-radius: 20px;
  font-size:15px;
  color: #3F3F3F;
  background-image:url('http://i47.tinypic.com/r02vbq.png');
  background-repeat:no-repeat;
  background-position:left center;
  outline:0;
  margin-bottom: 10px;
}

.selector2 label {
    font-size: 90px;
}


.row{
    display: block;
    margin: 5px;

}

.mat input[type="number"]{
 border: none;
    width: 40px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    margin-left: 35px;
}

.matrixLook li {
  list-style: none;
  display: inline-block;
  color: red;
  padding: 5px;
  font-size: 25px;
  border: 1px solid grey;

}
