$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #3F3F3F;
  // font-family: 'Abhaya Libre', serif;

}

header {
  position: fixed;
  z-index: 100%;
  width: 100%;
  height: 60px;

}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; }

ul.topnav {
    list-style-type: none;
    background-color: #fff;
    font-family: 'Fjalla One', sans-serif;
    opacity: 0.95;

}

ul.topnav img {
  float: left;
  width: 14%;
  padding: 20px;
  padding-right: 30px;
}

ul.topnav li {
  float: right;
  padding: 20xp;
}

ul.topnav li a {
    display: inline-block;
    color: #B36C6C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {
  background-color: #3F3F3F;
}

ul.topnav li.icon {
  display: none;
}



.welcome {

    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
      background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
  url(../images/backg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;


}

