$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #3F3F3F;
  // font-family: 'Abhaya Libre', serif;

}


.welcome {

    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
      background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
  url(../images/backg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;


}

.welcomeText {
    width: 800px;
    top:100px;
  



}

.home button {
    border: 5px solid #fff;
    background: none;
    font-size: 30px;
    margin: 0;
    padding: 10px;

}


.logButt button {
    margin:5px;
    padding: 5px;
    text-transform: uppercase;
    border: none;
    background: none;
    font-family: 'Quicksand', sans-serif;
    float: right;
    color: #fff;
    text-decoration: none;
}
.logButt button a{ 
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}

.logButt button a:hover{ 
    text-decoration: none;
    color: grey;
}


.hometext h1 {
    color: #fff;
    font-size: 70px;
    font-family: 'Quicksand', sans-serif;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}


.more-skewed {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  border-left: solid 2px white;
  box-sizing: border-box;
  padding: 15px 40px;
  letter-spacing: 3px;
  transition: all 1s ease-out;
  overflow: hidden;
}
.more-skewed:before {
  content: '';
  position: absolute;
  left: -2px;
  top: 0px;
  bottom: 50%;
  border-right: solid 2px white;
  border-top: solid 2px white;
  transform: skewX(25deg);
  transform-origin: right bottom;
  width: 100%;
  transition: all 1s ease-out;
  z-index: -1;
}
.more-skewed:after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: 0px;
  top: 50%;
  border-right: solid 2px white;
  border-bottom: solid 2px white;
  transform: skewX(-25deg);
  transform-origin: right top;
  width: 100%;
  transition: all 1s ease-out;
  z-index: -1;
}
.more-skewed:hover {
  color: #000;
text-decoration: none;
}
.more-skewed:hover:before,
.more-skewed:hover:after {
  background: white;
}

