<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">PCexploRe</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li>
        <a>
          <i class="fa fa-user"></i>
          {{vm.user.name}}</a>
      </li>
      <li>
        <a ng-click="vm.logout()" ng-if="vm.isLogged">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>

    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse " >

      <ul class="nav navbar-nav side-nav">
        <div class="displaySearcher">
          <input type="search" ng-model="vm.query"/>
        </div>

        <li ng-repeat="fun in vm.functions | filter : vm.query" ng-click="null">
          <a ng-click="vm.openDalog($event, fun)" >{{fun.name}}
          </a>
          <div class="text-left pads" style="font-size: 13px">
            <a ng-click="vm.showDetailView(true, fun)">
              <i class="fa fa-arrow-circle-o-left"></i>
              description
            </a>
          </div>
          <md-divider/>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <header class="jumbotron hero-spacer" ng-if="!vm.showFunction && !vm.showVector && !vm.showMatrix && !vm.functionDetailsView">

            <div layout="column" layout-align="center center">
              <div class="hvr-icon-push pcexplore">PCexploRe</div>
            </div><br/>

            <div layout="column" layout-align="center center">
              <h2 class="panel-title mainTitle"><i class="fa fa-long-arrow-right fa-fw"></i>Create matrices and vectors</h2>
            <h2 class="panel-title mainTitle"><i class="fa fa-long-arrow-right fa-fw"></i>Search functions</h2>
            <h2 class="panel-title mainTitle"><i class="fa fa-long-arrow-right fa-fw"></i>Try Pairwise Comparisons</h2>
            </div>

          </header>
          <!-- main -->

          <header class="jumbotron hero-spacer" ng-if="vm.functionDetailsView">
            <h3>{{vm.currentFunction.title}}</h3>
            <p class="detailsStyle"><span>Description:</span> {{vm.currentFunction.description}}</p>
            <p class="detailsStyle"><span>Return:</span> {{vm.currentFunction.return}}</p>
            <div class="panel-body" ng-repeat="arg in vm.currentFunction.params">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>
                    Parameters</h3>
                    <div class="text-center">

                    </div>
                </div>
                <div class="panel-body">
                  <div class="list-group">
                    <p>name:
                      {{arg.constantName}}</p>
                    <p>desc:
                      {{arg.desc}}</p>
                    <p>type:
                      {{arg.type}}</p>
                  </div>
                </div>
              </div>
              </div>
            <div layout="row"  layout-align="center center">
            <button type="button" ng-click="vm.showDetailView(false, {})" class="btn btn-primary backButt">Back</button>
            </div>
          </header>
          <!-- detais -->
          <header class="jumbotron hero-spacer" ng-if="vm.showMatrix">
            <div>
              <h3>{{vm.matrixToShow.name}}</h3>
            </div>
            <div class="napisDia">
              <div align="center">
                <table class="matrix">
                  <tr ng-repeat="row in vm.matrixToShow.values track by $index">
                    <td ng-repeat="cell in row track by $index">{{cell | limitTo:7}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <br/>
            <br/>
          </header>
          <!-- showMatrix -->

          <header class="jumbotron hero-spacer" ng-if="vm.showVector">
            <div>
              <h3>{{vm.vectorToShow.name}}</h3>
            </div>

            <div class="napisDia">

              <div align="center">
                <table class="matrix">
                  <tr ng-repeat="row in vm.vectorToShow.values track by $index">
                    <td>{{row | limitTo:7}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <br/>
            <br/>
          </header>
<!-- showVector -->

          <header class="jumbotron hero-spacer" ng-if="vm.showFunction">
            <!-- {{vm.currentFunction.params}} -->
            <h2 class="napisDia">RESULT</h2>
            <h2 class="napisDia">{{vm.currentFunction.name}}(<span ng-repeat="matrix in vm.currentFunction.params">{{matrix.constantName}}{{ $last? '': ','; }}</span>) =
            </h2>
            <h2 style="color: #428bca;"align="center" ng-if="vm.currentFunction.result.type === 'double' || vm.currentFunction.result.type === 'int'">{{vm.currentFunction.result.values}}</h2>

            <div class="napisDia" ng-if="vm.currentFunction.result.type === 'matrix'">
              <div align="center">
                <table class="matrix">
                  <tr ng-repeat="row in vm.currentFunction.result.values track by $index">
                    <td ng-repeat="cell in row track by $index">{{cell | limitTo:7}}</td>
                  </tr>
                </table>
              </div>
              <md-button ng-if="vm.isLogged" ng-click="vm.saveResultAsMatrix(vm.currentFunction.result)">save matrix</md-button>
            </div>

            <div class="napisDia" ng-if="vm.currentFunction.result.type === 'vector'">
              <div align="center">
                <table class="matrix">
                  <tr ng-repeat="row in vm.currentFunction.result.values track by $index">
                    <td>{{row | limitTo:7}}</td>
                  </tr>
                </table>
              </div>
              <md-button ng-if="vm.isLogged" ng-click="vm.saveResultAsVector(vm.currentFunction.result)">save</md-button>
            </div>
            <md-divider></md-divider>

            <h2 class="napisDia">ARGUMENTS</h2>

            <div class="matrixLook" ng-repeat="matrix in vm.currentFunction.params">
              <h2 class="napisDia">
                <span>{{matrix.constantName}}</span>
              </h2>
              <div ng-if="matrix.type === 'matrix'">
                <div align="center">
                  <table class="matrix">
                    <tr ng-repeat="row in matrix.values track by $index">
                      <td ng-repeat="cell in row track by $index">{{cell | limitTo:7}}</td>

                    </tr>
                  </table>
                </div>
              </div>

              <div ng-if="matrix.type === 'vector'">
                <div align="center">
                  <table class="matrix">
                    <tr ng-repeat="row in matrix.values track by $index">
                      <td>{{row}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div align="center">
                <span align="center" ng-if="matrix.type != 'vector' && matrix.type != 'matrix'">{{matrix.values}}</span>
              </div>

            </div>

          </header>
<!-- result -->

        </div>
        <div class="col-xs-6 col-md-4">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <i class="fa fa-long-arrow-right fa-fw"></i>
                  Matrices</h3>
                  <div class="text-center">
                    <a ng-click="vm.openMatrixDialog($event)">
                      <i class="fa fa-th"></i>
                      create new matrix
                    </a>
                  </div>
                <button class="btn btn-default" ng-if="vm.isLogged" ng-click="vm.saveMatricesToDB()">save</button>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a class="list-group-item" ng-repeat="matrix in vm.userMatrices track by $index">
                    <div class="varStyle">
                    <i class="fa fa-fw fa-check"></i> {{matrix.name}}
                    </div>
                    <div class="varDim">Dimension:
                      {{matrix.values.length}}x{{matrix.values[0].length}}
                    </div>
                    <div layout="row" layout-align="space-around center">
                      <button class="hvr-buzz-out k" ng-click="vm.seeMatrix(matrix)">
                        <i class="material-icons md-15">visibility</i>
                      </button>
                      <button class="hvr-buzz-out k" ng-click="vm.editMatrix(matrix)">
                        <i class="material-icons md-15">edit</i>
                      </button>
                      <button class="hvr-buzz-out k" ng-click="vm.deleteMatrix(matrix.name)">
                        <i class="material-icons md-15">delete</i>
                      </button>
                    </div>
                  </a>
                </div>
                <div id="morris-donut-chart"></div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <i class="fa fa-long-arrow-right fa-fw"></i>
                  Vectors</h3>
                  <div class="text-center">
                    <a ng-click="vm.openVectorDialog($event)">
                      <i class="fa fa-bars"></i>
                      create new vector
                    </a>
                  </div>
                  <button class="btn btn-default" ng-if="vm.isLogged" ng-click="vm.saveVectorsToDB()">save</button>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a class="list-group-item" ng-repeat="vector in vm.userVectors">
                    <div class="varStyle">
                    <i class="fa fa-fw fa-check"></i> {{vector.name}}
                  </div>
                    <div class="varDim">Dimension:
                      {{vector.dimension}}</div>
                    <div layout="row" layout-align="space-around center">
                      <button class="hvr-buzz-out k" ng-click="vm.seeVector(vector)">
                        <i class="material-icons md-15">visibility</i>
                      </button>
                      <button class="hvr-buzz-out k" ng-click="vm.editVector(vector)">
                        <i class="material-icons md-15">edit</i>
                      </button>
                      <button class="hvr-buzz-out k" ng-click="vm.deleteVector(vector.name)">
                        <i class="material-icons md-15">delete</i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
