<div class="dash" layout="row" class="icondemoFontIconsWithLigatures" ng-cloak>

  <div flex="20" layout="column" class="boxWithHeight" layout-padding>
    <section flex>
      <h3>Creator</h3>
      <div class="displayList">
        <ul>
          <li>
            <md-button class="md-raised" ng-click="vm.openMatrixDialog($event)">CREATE MATRIX</md-button>
          </li>
          <li>
            <md-button class="md-raised" ng-click="vm.openMatrixDialog($event)">CREATE VECTOR</md-button>
          </li>
        </ul>
      </div>

      <md-subheader class="md-no-sticky">Matrices</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="matrix in vm.userMatrices">
        <div class="md-list-item-text">
          <h4>{{matrix.name}}</h4>
          <p>Dimenssion: {{matrix.dimension}}</p>
        </div>
      </md-list-item>
      <br>

      <md-subheader class="md-no-sticky">Vectors</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="vector in vm.userVectors">
        <div class="md-list-item-text">
          <h4>{{vector.name}}</h4>
          <p>Dimenssion: {{vector.dimension}}</p>
        </div>
      </md-list-item>


    </section>

  </div>
  <!-- end list of foos-->
  <div flex layout="column" class="boxWithHeight" layout-padding>
    <div layout="column" class="contentdemoBasicUsage">
      <md-toolbar class="moj">
        <div class="md-toolbar-tools">
          <h2 class="napis">PCexploRe</h2>
        </div>
      </md-toolbar>

      <md-content flex="" layout-padding="" style="min-height:400px">

      </md-content>

    </div>
  </div>

  <div flex="30" layout="column" class="boxWithHeight" layout-padding>
    <section flex ng-if="!vm.functionDetailsView">
      <h3>functions</h3>

      <div class="displaySearcher">
        <input type="search" ng-model="vm.query" />
      </div>

      <md-content>
        <md-list flex>
          <md-list-item class="md-3-line" ng-repeat="fun in vm.functions | filter : vm.query" ng-click="null">
            <!-- <md-button class="md-raised" ng-click="vm.openDalog($event, fun)"> -->
            <div flex layout="row" layout-align="space-between center">
              <div flex="75">
                <md-button ng-click="vm.openDalog($event, fun)" flex="90" >
                  <div class="md-list-item-text" layout="column">
                    <h4>{{fun.name}}</h4>
                    <p>{{fun.title}}</p>
                  </div>
                </md-button>
              </div>
              <div style="min-width:50px">
                <md-button ng-click="vm.showDetailView(true, fun)" style="min-width:50px">
                  <h5>details</h5>
                </md-button>
              </div>
            </div>
            <md-divider/>

          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </md-content>
    </section>


    <section flex ng-if="vm.functionDetailsView">

      <md-button ng-click="vm.showDetailView(false, {})">
        <h5>back</h5>
      </md-button>
      <h3>{{vm.currentFunction.name}}</h3>
      <div class="md-list-item-text">
        <p style="font-size: x-large;">{{vm.currentFunction.title}}</p>
        <p style="font-size: larger;">description: {{vm.currentFunction.description}}</p>
        <p>return: {{vm.currentFunction.return}}</p>

        <md-content>
          <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="arg in vm.currentFunction.params">
              <!-- <md-button class="md-raised" ng-click="vm.openDalog($event, fun)"> -->
              <div class="md-list-item-text">
                <h4>name: {{arg.name}}</h4>
                <p>desc: {{arg.desc}}</p>
                <p>type: {{arg.type}}</p>
                <md-divider/>
              </div>
              <!--
            <div layout="row" align="start center" >
              <span >{{arg.name}}</span>
              <span>{{arg.desc}}</span>
              <span>{{arg.type}}</span>

            </div> -->
            </md-list-item>
          </md-list>
        </md-content>
      </div>
    </section>
  </div>

</div>
