<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="moj">
        <h2 class="napisDia">Create new matrix</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
<!--                       ng-init="models = [{matrixName:'',matrixDim:'', items:['1','2','3']}]">-->
      <div class="md-dialog-content cos2">
<!--
            {{models}}
          
          <div ng-repeat="model in models">
              
              <md-input-container>
                <label>Matrix name</label>
                  <input ng-model="model.matrixName" type="text">
              </md-input-container>       
          
            <md-input-container>
                <label>Matrix dimension</label>
                  <input ng-model="model.matrixDim" type="number" min="0">
              </md-input-container>
                         
          </div>
          
        <div class="row" >
        <div class="form-group">
            <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="item.items" />
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="City" />
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Zip" />
            </div>

        </div>
          </div>
          
          <div class="row">
          <div class="form-group">
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="State" />
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="City" />
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Zip" />
            </div>
              </div> 
          </div>       
          
          <div class="row">
          <div class="form-group">
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="State" />
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="City" />
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Zip" />
            </div>
            </div>
          </div>

      
-->
                     <md-input-container>
                <label>Matrix name</label>
                  <input ng-model="matrixName" type="text">
              </md-input-container>       
             
          
    <table>
    <tbody>
      <tr>
        <th></th>
        <th ng-repeat="column in vm.matrix[0] track by $index">
          <md-button class="md-raised" ng-disabled="vm.matrix[0].length <= 1"
                  ng-click="vm.deleteColumn($index)">
            X col{{$index}}
          </md-button>
        </th>
      </tr>
      <tr ng-repeat="row in vm.matrix">
        <th>
          <md-button class="md-raised" ng-disabled="vm.matrix.length <= 1"
                  ng-click="vm.deleteRow($index)">
            X row{{$index}}
          </md-button>
        </th>
        <td ng-repeat="column in row track by $index">
            <div class="ma">
          <input type="number" ng-model="row[$index]" placeholder="0">
            </div>
        </td>
      </tr>
    </tbody>
  </table>
          <md-divider></md-divider>
    <div class="costam">
  <md-button class="md-raised" ng-click="vm.addRow()">Add Row</md-button>
  <md-button class="md-raised" ng-click="vm.addColumn()">Add Column</md-button>
          </div>
  <h3>As JSON:</h3>
  <pre><code>{{vm.matrix}}</code></pre>
          

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        cancel
      </md-button>
      <md-button ng-click="save()">
        save
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>