<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="moj">
        <h2 class="napisDia">{{vm.clickedFunction.name}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <h2>{{vm.clickedFunction.name==='ahp' ? 'How many parameters?' : 'How many elements?'}}</h2>
      <md-input-container>
        <div layout="row" layout-align="center center">
        <input style="text-align:center;"type="number" ng-model="vm.numOfParams" >
        </div>
      </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="back-color" ng-click="vm.cancel()">
        cancel
      </md-button>
      <md-button class="back-color" ng-click="vm.setNumOfParams(vm.numOfParams)">
        save
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
