<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="moj">
        <h2 class="napisDia">Create new vector</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container>
          <label>Vector name</label>
          <input ng-model="vm.vector.name" type="text">
        </md-input-container>


        <table>
          <tbody>
            <tr>
              <th></th>
              <th ng-repeat="column in vm.vector.values[0] track by $index">
                <md-button class="md-raised" ng-disabled="vm.vector.values[0].length <= 1" ng-click="vm.deleteColumnV($index)">
                  X col{{$index}}
                </md-button>
              </th>
            </tr>
            <tr ng-repeat="rowV in vm.vector.values">
              <th>
                <md-button class="md-raised" ng-disabled="vm.vector.values.length <= 1" ng-click="vm.deleteRowV($index)">
                  X row{{$index}}
                </md-button>
              </th>
              <td ng-repeat="column in rowV track by $index">
                <div class="mat">
                  <input type="number" ng-model="rowV[$index]" placeholder="0">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <md-divider></md-divider>

        <div>
          <md-button class="md-raised" ng-click="vm.addRowV()">Add Row</md-button>
        </div>
        <h3>As JSON:</h3>
        <pre><code>{{vm.vector}}</code></pre>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()">
        cancel
      </md-button>
      <md-button ng-click="vm.saveNewVector(vm.vector)">
        save
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
