<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="moj">
        <h2 class="napisDia">Create new vector</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <md-input-container>
          <label>Vector name</label>
          <input ng-model="vm.vector.name" type="text">
        </md-input-container>

        <table>
          <tbody>
            <tr>
              <th></th>
              <th ng-repeat="column in vm.vector.values[0] track by $index"></th>
            </tr>
            <tr ng-repeat="rowV in vm.vector.values track by $index">
              <th>
                <md-button class="md-warn" ng-disabled="vm.matrix.values.length <= 1" ng-click="vm.deleteRowV($index)">
                  <h5>-</h5>
                </md-button>

              </th>
              <td style="background-color: #f5f5f5">
                <div class="mat">
                  <input type="number" style="background-color: #f5f5f5;margin-right:10px; margin-left:10px" ng-model="vm.vector.values[$index]" placeholder="0">
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <md-button md-no-ink class="md-primary" ng-click="vm.addRowV()">
            <h3>+</h3>
          </md-button>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="back-color" ng-click="vm.cancel()">
        cancel
      </md-button>
      <md-button class="back-color" ng-click="vm.saveNewVector(vm.vector)">
        save
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
